#auth {
    margin-top: 10rem;
}
.badge {
    margin-bottom: 6px;
}
button.vcard-info-items-delete {
    float: right;
    margin-top: -13.8px;
}

.navbar-brand-image-big {
  display: block;
  height: 3rem;
  width: auto; }